@mixin log-part() {
  padding: 10px;
}

.log-item {
  background-color: $theme-lightgray;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  .log-title {
    background-color: $theme-bluejeans;
    color: $theme-lightgray;
    @include log-part();

    &.trip-stop {
      background-color: $theme-grapefruit;
    }

    &.alarm {
      background-color: $theme-sunflower;
    }
  }

  .log-body {
    @include log-part();
  }

  .log-time {
    background-color: $theme-lightgray-dark;
    @include log-part();
  }
}

$input-border-color: #ddd;

.list-filter {
  max-width: 50%;
  min-width: 350px;

  .search-box {
    .material-icons {
      font-size: 1em;
    }

    .input-group-addon {
      background: white;
      border: 1px solid $input-border-color;
      border-right: none;
    }

    .search-input {
      border-top: 1px solid $input-border-color;
      border-bottom: 1px solid $input-border-color;
      border-left: none;
      border-right: none;
      padding-left: 0;
      box-shadow: none;
    }
  }

  .popover {
    &.open {
      display: block;
    }

    display: none;
    position: absolute;
    left: 10px;
    right: 10px;
    margin-top: 15px;
    max-width: 100%;

    .arrow {
      left: calc(100% - 50px);
    }
  }
}
