.location-events {
  font-size: 0.85em;
  overflow: auto;
  max-height: 400px;

  .table {
    white-space: nowrap;

    tr > td:first {
      padding: 0
    }

    tbody > tr {
      td {
        border: 0;
      }

      &.active > td {
        color: white;
        background-color: $theme-mint;
      }
    }
  }
}
