.form-group {
    .SingleDatePickerInput {
        border: 2px solid white;
        border-radius: 2px;

        .DateInput {
            font-size: 14px;
            width: 100%;
            padding: 0;
        }
    }
}
