#new-device {
    .btn-next {
        margin-top: 20px;
    }
}

.guide-item {
    display: flex;
    width: 100%;
    color: $theme-lightgray;
    margin-top: 20px;

    .guide-number {
        width: 100px;
        background-color: $theme-lavander-dark;
        font-size: 80px;
        text-align: center;
    }

    .guide-content {
        background-color: $theme-lavander;
        font-size: 22px;
        padding: 10px;
        flex-grow: 1;
        display:flex;
        justify-content:center;
        align-items:center;
    }
}
