.list-empty {
  text-align: center;
  font-size: 1.3em;
}

.list-header {
  .title {
    float: left;
    font-size: 30px;
    line-height: 46px;
    color: #333;
  }

  .actions {
    float: right;
  }

  @media (max-width: $screen-xs-max) {
    .title {
      font-size: 24px;
      line-height: 34px;
    }

    .btn-lg {
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857;
      border-radius: 4px;
    }
  }
}

table.items-list {
  border-collapse: collapse;
  width: 100%;

  td, th {
    padding: 10px 7px;
  }

  td.shrink {
    width: 1px;
  }

  tr.form-row {
    background: $theme-lightgray;
  }

  tbody>tr {
    border-bottom: 1px solid #ccc;
  }
}

td.minimal {
  width: 1px;
}

.delete-icon {
  height: 36px;
  line-height: 36px;
  padding: 0 13px;
  cursor: pointer;
  color: $theme-darkgray;
  transition: 0.3s color;
  -moz-transition: 0.3s color;

  &:hover {
    color: $theme-grapefruit;
  }
}

.input-label {
  border: none;
  padding: 0px;
  margin: 0 0 5px 0;
  font-weight: bold;
  display: block;
  width: 100%;
}

.font-monospace {
  font-family: monospace;
}
