.home-hero {
  background-color: $theme-mint-dark;
  padding: 80px 0;
  margin-top: -20px;
  margin-bottom: 100px;

  h1 {
    font-size: 63px;
  }

  h1, h2, h3, h4, h5, h6, p {
    color: white;
    line-height: 1.5;
  }
}

$extra: 0.6;
.home-phone {
  position: relative;
  padding-top: 100% * $extra;

  & > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% * (1 / $extra);

    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/phone.png');
  }

  &.full {
    padding-top: 100%;
    &>div {
      height: 100%;
    }
  }
}
