$md-font-path: '~material-design-icons/iconfont/';
$md-font-name: 'MaterialIcons-Regular';

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('#{$md-font-path}#{$md-font-name}.eot'); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('#{$md-font-path}#{$md-font-name}.woff2') format('woff2'),
    url('#{$md-font-path}#{$md-font-name}.woff') format('woff'),
    url('#{$md-font-path}#{$md-font-name}.ttf') format('truetype');
}

.material-icons {
  position: relative;
  top: 3px;
  display: inline-block;
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 1.2em;

  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
