.label-grapefruit {
  @include label-variant($theme-grapefruit-dark);
}

.label-bittersweet {
  @include label-variant($theme-bittersweet-dark);
}

.label-sunflower {
  @include label-variant($theme-sunflower-dark);
}

.label-grass {
  @include label-variant($theme-grass-dark);
}

.label-mint {
  @include label-variant($theme-mint-dark);
}

.label-aqua {
  @include label-variant($theme-aqua-dark);
}

.label-bluejeans {
  @include label-variant($theme-bluejeans-dark);
}

.label-lavander {
  @include label-variant($theme-lavander-dark);
}

.label-pinkrose {
  @include label-variant($theme-pinkrose-dark);
}

.label-lightgray {
  @include label-variant($theme-lightgray-dark);
}

.label-mediumgray {
  @include label-variant($theme-mediumgray-dark);
}

.label-darkgray {
  @include label-variant($theme-darkgray-dark);
}
