.mobile-navbar {
  background: $theme-mint;
  border-bottom: 1px solid $theme-mint-dark;
  height: 50px;
}

.navbar-toggle.toggle-left {
  float: left;
  margin-left: 15px;
  margin-right: 0
}

.no-navbar-margin {
  margin-top: -20px;
}

.has-sidebar {
  margin-left: 50px;

  .container {
    padding-top: 20px;
  }
}

$sidebar-flavor: $theme-mint-dark;

.modal-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1001;

  .sidebar, .background {
    transition-duration: 0.3s;
    height: 100%;
    top: 0;

    .logo {
      padding: 10px 22px;
      font-size: 15px;
    }
  }

  .sidebar {
    position: absolute;
    left: -270px;
    width: 320px;
    z-index: 1;

    background-color: white;
    box-shadow: 0 -1px 12px rgba(0,0,0,0.4);

    transition-property: -webkit-transform;
    -webkit-transform: translateX(0);

    transition-property: transform;
    transform: translateX(0);

    background: $sidebar-flavor;

    hr {
      border-color: white;
    }
  }

  .background {
    position: fixed;
    left: 0;
    width: 0;
    z-index: 0;

    background-color: black;

    transition-property: opacity;
    opacity: 0;
  }

  &.active {
    .background {
      width: 100%;
      opacity: 0.3;
    }

    .sidebar {
      -webkit-transform: translateX(270px);
      transform: translateX(270px);
    }
  }
}

div.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;

  & + div.sidebar-menu {
    border-top: 1px solid lighten($sidebar-flavor, 15);
  }

  a:link, a:visited {
    display: block;
    height: 50px;
    line-height: 50px;
    color: $theme-lightgray;
    font-size: 14px;
    text-decoration: none;
    padding-left: 22px;

    .menuitem-icon {
      position: relative;
      width: 50px;
      text-align: center;
      float: right;
      font-size: 18px;

      .icon-count {
        width: 20px;
        height: 20px;
        border: 2px solid white;
        border-radius: 10px;
        background: #ed5565;
        display: inline-block;
        line-height: 15px;
        font-size: 9px;
        font-weight: bold;
        position: absolute;
        top: 5px;
        right: 8px;
        z-index: 1;
      }
    }
  }

  a.active {
    color: white;
    background-color: darken($sidebar-flavor, 15);

    .menuitem-icon {
      text-shadow: 0 0 15px white;
    }
  }

  &.sidebar-header {
    background: rgba(0,0,0,0.4);

    a {
      font-size: 18px;
    }
  }
}
