#map-viewport {
  height: 100%;

  #omnibox {
    position: absolute;
    left: 50px;
    margin: 8px 0 8px 8px;
    top: 0px;
    z-index: 10;
    transition: left 0.5s;

    .widget-box {
      position: relative;
      background: #fff;
      border-radius: 2px;
      box-sizing: border-box;
      width: 392px;
      min-height: 48px;
      border-bottom: 1px solid transparent;
      padding: 0;
      box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);

      &.mint {
        background-color: $theme-mint-dark;
      }
    }

    .search-items {
      width: 100%;
      position: absolute;
      max-height: 300px;
      overflow: hidden;
      margin-top: 5px;
      border-radius: 4px;
      border: 1px solid #ccc;

      .search-item {
        padding: 10px;
        width: 100%;
        display: block;
        background: #fff;

        & + .search-item {
          border-top: 1px solid #ccc;
        }
      }
    }
  }
}

.widget-box {
  .widget-padding {
    padding: 12px;
    overflow: auto;
  }

  .widget-title {
    margin: 2px;
    text-align: right;
  }

  .menu-toggle {
    display: block;
    z-index: 2;

    float: left;
    margin: 0;
    padding: 12px 16px;
    width: 56px;
    height: 48px;

    .icon-bar {
      width: 18px;
      margin-left: 2px;
      margin-right: 2px;
      background-color: #888;
    }
  }

  form.search-box {
    input {
      border: 0;
      margin: 0;
      padding: 0;

      font-size: 15px;
      height: 24px;
      line-height: 24px;
      vertical-align: top;
      outline: 0;
      width: 100%;
    }
  }

  &.mint {
    .menu-toggle>.icon-bar {
      background-color: white;
    }

    p, h4, span {
      color: white;
    }

    background-color: $theme-mint-dark;
  }
}

// Device marker
$dot-size: 24px;
.device-marker {
  @include dot-size($dot-size);
  @include marker-color($theme-darkgray);

  .dot {
    background-image: url(../images/map-status.png);
    background-color: transparent;
    background-size: 200%;
    cursor: pointer;
  }

  .caret {
    position: absolute;
    display: none;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px dashed;
    display: block;
    bottom: -10px;
    margin: 0 0;
  }

  .prev {
    position: relative;
    width: 60px;
    line-height: 20px;
    margin: (-$dot-size - 36px) 0 12px -1*(60px / 2);
    padding: 2px;
    border-radius: 2px;
    border-width: 0;
    cursor: pointer;

    .caret {
      left: (60px/2) - 8px;
    }

    .name {
      display: block;
      font-weight: bold;
      text-align: center;
      background: $theme-lightgray-dark;
      border-radius: 2px;

      padding: 0 3px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  $info-width: 200px;
  $info-height: 170px;
  .infowindow {
    position: absolute;
    z-index: 1;
    box-sizing: border-box;

    width: $info-width;
    height: $info-height;
    margin: -1*($info-height + 36) 0 0 -1*($info-width/2);
    background: white;
    border: 2px solid;
    border-radius: 5px;

    .heading {
      color: white;
      .heading-title {
        padding: 5px;
        font-size: 16px;
        font-weight: bold;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .info-content {
      padding: 7px;
      font-size: 11px;
    }

    .window-close {
      float: right;
      padding: 5px;
      font-size: 12px;
      cursor: pointer;

      &:hover {
        color: black;
      }
    }

    .caret {
      left: ($info-width/2) - 8px;
    }
  }
}

// Devie marker status colors
.device-marker {
  &.status-moving {
    @include marker-color($theme-mint);
    .dot {
      background-position: 0px 0px;
    }
  }

  &.status-stopped {
    @include marker-color($theme-grapefruit);
    .dot {
      background-position: 0px (-$dot-size);
    }
  }

  &.status-alarm {
    @include marker-color($theme-sunflower);
    .dot {
      background-position: (-$dot-size) 0px;
    }
  }

  &.status-offline {
    @include marker-color($theme-darkgray);
    .dot {
      background-position: (-$dot-size) (-$dot-size);
    }
  }
}

.circle-marker {
  margin-top: -24px;
  margin-left: -24px;
  width: 48px;
  height: 48px;
  background-position: center;
  background-size: contain;

  &.start {
    background-image: url(../images/start.png);
  }

  &.stop {
    background-image: url(../images/stop.png);
  }
}

.info-presenter {
    border-bottom: 1px solid $theme-lightgray;
    padding: 2px;

    .info-title {
        font-weight: bold;
    }
    .info-content {
        text-align: right;
    }
}

.custom-marker {
  position: absolute;
  width: 0px;
  height: 0px;
  height: 0px;
  background-color: transparent;
}

.toasts {
  a:link, a:visited {
    color: white;
    text-decoration: underline;
  }
}
