// Override bootstrap nav-tabs
.nav-tabs {
  background-color: $theme-lightgray;
  > li {
    > a {
      &:hover,
      &:focus {
        background-color: lighten($theme-mint, 40);
        border-color: transparent;
        border-bottom-color: $theme-mint-dark;
      }

      margin-right: 0;
      border-radius: 0 0 0 0;
    }

    &.active > a {
      &,
      &:hover,
      &:focus {
        border-color: transparent;
        border-bottom-color: $theme-mint-dark;
      }
    }
  }
}
