.panel-footer {
  ul.footer-actions {
    margin: -15px;
    list-style: none;
    padding: 0;

    a.action,
    a.action:link,
    a.action:visited,
    li.action {
      color: $gray-dark;
      cursor: pointer;
      float: left;
      padding: 0 15px;
      line-height: 50px;

      transition: 200ms cubic-bezier(.12,.8,.32,1) transform;

      &:hover {
        text-decoration: underline;
      }

      &:active {
        transform: perspective(1px) translateZ(-.04px);
        color: $theme-darkgray-dark;
      }
    }

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
}
