.point {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 10px;
  margin-right: 10px;
  border: 2px solid $theme-mint;

  &.point-grapefruit { border-color: $theme-grapefruit; }
  &.point-bittersweet { border-color: $theme-bittersweet; }
  &.point-sunflower { border-color: $theme-sunflower; }
  &.point-grass { border-color: $theme-grass; }
  &.point-mint { border-color: $theme-mint; }
  &.point-aqua { border-color: $theme-aqua; }
  &.point-bluejeans { border-color: $theme-bluejeans; }
  &.point-lavander { border-color: $theme-lavander; }
  &.point-pinkrose { border-color: $theme-pinkrose; }
  &.point-lightgray { border-color: $theme-lightgray; }
  &.point-mediumgray { border-color: $theme-mediumgray; }
  &.point-darkgray { border-color: $theme-darkgray; }
}
