.setting {
  background-color: white;
  border: 1px solid $theme-lightgray;
  border-bottom: none;
  display: flex;
  box-sizing: border-box;
  height: 48px;
  line-height: 48px;
  padding: 0 10px;
  justify-content: space-between;

  &:last-child {
    border-bottom: 1px solid $theme-lightgray;
  }

  .setting-name {
    font-size: 18px;
  }

  .setting-control {
    text-align: right;

    .setting-readonly {
      font-family: monospace;
      background-color: $theme-lightgray;
      color: $theme-darkgray;
      font-size: 17px;
      padding: 3px;
      border-bottom: 2px solid $theme-darkgray;
    }
  }
}
