.trip-tracking {
  border: 1px solid #ccc;
  padding: 0;

  .heading {
    background: $theme-mint-dark;
    padding: 20px;
    color: white;

    .heading_title {
      font-size: 18px;
      margin-bottom: 15px;
    }
  }

  .body {
    background: white;
    padding: 20px;
  }

  .events {
    .event {
      .name {
        overflow: hidden;
      }

      .time {
        float: right;
      }

      & + .event {
        margin-top: 15px;
      }
    }
  }

  .attr-value {
    font-size: 16px;
    font-weight: bold;
  }
}
