// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,800');

// Bootstrap
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

// Override of bootstrap variables
@import 'variables';

// Core variables and mixins
@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// Override of bootstrap mixins
@import 'mixins';

// Reset and dependencies
@import "~bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/print";

// Core CSS
@import "~bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/code";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/tables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/buttons";

// Components
@import "~bootstrap-sass/assets/stylesheets/bootstrap/component-animations";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/button-groups";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/input-groups";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/navs";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/navbar";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/breadcrumbs";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/pagination";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/pager";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/labels";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/badges";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/jumbotron";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/thumbnails";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/alerts";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/progress-bars";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/media";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/list-group";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/panels";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/responsive-embed";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/wells";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/close";

// Components w/ JavaScript
@import "~bootstrap-sass/assets/stylesheets/bootstrap/modals";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/tooltip";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/popovers";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/carousel";

// Utility classes
@import "~bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";

// Modules
@import 'helpers';
@import 'layout';
@import 'buttons';
@import 'labels';
@import 'navs';
@import 'map';
@import 'devices';
@import 'home';
@import 'guides';
@import 'forms';
@import 'icons';
@import 'panels';
@import 'components';
@import 'trips';
@import 'points';
@import 'settings';

// Main
html, body, #app {
  height: 100%;
}

// Custom Bootstrap
.form-control {
  @include box-shadow(inset 0 0 0 transparent);
}

.has-success {
  @include form-control-validation($state-success-text, $state-success-border, $state-success-bg);
  @include box-shadow(inset 0 0 0 transparent);

  .form-control {
    background-color: $state-success-bg;
  }
}
.has-warning {
  @include form-control-validation($state-warning-text, $state-warning-border, $state-warning-bg);
  @include box-shadow(inset 0 0 0 transparent);

  .form-control {
    background-color: $state-warning-bg;
  }
}
.has-error {
  @include form-control-validation($state-danger-text, $state-danger-border, $state-danger-bg);
  @include box-shadow(inset 0 0 0 transparent);

  .form-control {
    background-color: $state-danger-bg;
  }
}

.well {
  @include box-shadow(inset 0 0 0 transparent);
}

.form-control.with-border {
  border-color: $theme-mediumgray;
}

.input-group-addon.with-border {
  border-color: $theme-mediumgray;
}

.container {
  &.container-small {
    @media (min-width: $screen-sm-min) {
      width: $container-sm;
    }
  }

  &.container-micro {
    @media (min-width: $screen-xs) {
      width: $screen-xs;
    }
  }
}

.centered {
  text-align: center;
}

.media .media-body .pull-right > .label {
  text-transform: uppercase;
}

.full-height {
  height: 100%;
}
