<!DOCTYPE html>
<html lang="en">
  <!--
    For more info on ejs, see http://www.embeddedjs.com/. For examples of using it with htmlWebpackPlugin, see https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs
    -->
  <head>
    <% if (htmlWebpackPlugin.options.productionFlag) { %>
    <script src="settings.js"></script>
    <% } %>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <title>Fleety</title>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
