@mixin marker-color($color) {
  .caret {
    border-top-color: $color;
  }

  .prev {
    background-color: $color;
  }

  .infowindow {
    border-color: $color;

    .heading {
      background-color: $color;
      border-bottom: 2px solid $color;
    }
  }
}

@mixin dot-size($size) {
  .dot {
    width: $size;
    height: $size;
    margin: (-1/2) * $size 0 0 (-1/2) * $size;
  }
}
